<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>997572281202-5p9180j5ig4tf10ummjtk5cql254h30o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.997572281202-5p9180j5ig4tf10ummjtk5cql254h30o</string>
	<key>API_KEY</key>
	<string>AIzaSyBju6sCWHtx5JMqpge0FoalrSY30wWJWeI</string>
	<key>GCM_SENDER_ID</key>
	<string>997572281202</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mootawer.test</string>
	<key>PROJECT_ID</key>
	<string>basseltest-115fd</string>
	<key>STORAGE_BUCKET</key>
	<string>basseltest-115fd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:997572281202:ios:3676d66f53c6a590c613eb</string>
</dict>
</plist>